* {box-sizing: border-box;}

html, body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.top {
    background-color: #333333;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
}

.top-name {
    float: left;
    width: 70%;
    line-height: 50px;
}

.top-about {
    float: right;
    width: 30%;
    line-height: 50px;
}

.left {
    background-color: lightgray;
    float: left;
    overflow: auto;
    height: calc(100% - 50px);
    width: 25%;
    padding:100px 5% 0 5%;
}

.left-explain {
    text-align: left;
    width: 100%;
}

.left-account {
    width: 100%;
    margin: 30px auto 70px 0;
}

.left-button {
    border-radius: 4px;
    width: 100%;
    margin: 5px auto;
}

.right {
    float: right;
    overflow: auto;
    height: calc(100% - 50px);
    width: 75%;
    padding:100px 10% 0 10%;
    display: none;
}

.right-show {
    margin-bottom: 50px;
    width: 55%;
    text-align: left;
}

.right-pwd {
    width: 100%;
    margin-top: 20px;
}

.right-button {
    border-radius: 4px;
    width: 22.5%;
    margin: 0 2.5%;
}